<div class="welcome-page">

    <mat-card class="welcome-card">
        <mat-card-header class="'welcome-card-header">
            <mat-card-title>Welcome to myFlix!</mat-card-title>
        </mat-card-header>

        <mat-card-actions class="welcome-card-actions">
            <button class="signup-button" mat-raised-button (click)="openUserRegistrationDialog()"
                style="margin-right: 10px;" color="basic">
                Sign
                Up
            </button>

            <button class="login-button" mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px;">
                Log In
            </button>
        </mat-card-actions>

    </mat-card>

</div>