$backgroundImage: URL("./assets/movie-background.jpeg");

.full-page {
    background-image: $backgroundImage;
    // height: 150%;
    height: auto;

}

.movie-page {
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    height: 320px;
    width: 170px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}